thead {
    background-color: rgba(0, 176, 230,0.3);

}
    
.sticky-head thead tr th{
    position: sticky;
     top: 0;
     background-color: rgba(0, 176, 230);
     

}
td,th{
    border-bottom: solid 1px rgba(255, 255, 255, 0.267);
}